.form {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px 0 var(--input-background) ;
  background-color: var(--accent-background);
  /* border: 1px solid var(--input-background); */
  inline-size: min-content;
}

.controlsWraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
} 

.buttonsWraper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.inputsWraper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* submit button */
.submitButton {
  border: 2px solid rgba(81, 177, 103, 0.2);
  box-shadow: 0 0 10px rgba(81, 177, 103, 0.4), inset 0 0 2px #000;
  color: rgba(81, 177, 103, .5);
}

.submitButton:hover {
  border: 2px solid rgba(81, 177, 103, 0.5);
  box-shadow: 0 0 13px 0 rgba(81, 177, 103, 0.6);
  color: rgba(81, 177, 103, .7);
}

.submitButton:active {
  border: 2px solid rgba(81, 177, 103, 0.5);
  box-shadow: 0 0 10px 0 rgba(81, 177, 103, 0.4), inset 0 0 5px #000;
  color: rgba(81, 177, 103, .5);
}

/* reset button */
.resetButton {
  border: 2px solid rgba(188, 72, 72, 0.2);
  box-shadow: 0 0 10px 0 rgba(188, 72, 72, 0.4), inset 0 0 2px #000;
  color: rgba(188, 72, 72, 0.7);
}

.resetButton:hover {
  border: 2px solid rgba(188, 72, 72, 0.5);
  box-shadow: 0 0 13px 0 rgba(188, 72, 72, 0.6);
  color: rgba(188, 72, 72, .9);
}

.resetButton:active {
  border: 2px solid rgba(188, 72, 72, 0.5);
  box-shadow: 0 0 10px 0 rgba(188, 72, 72, 0.4), inset 0 0 5px #000;
  color: rgba(188, 72, 72, 0.6);
}

.errorContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  inset-block-end: 100%;
  inline-size: 100%;
}

.error {
  color: red;
  font-size: 17px;
  animation: strobe 1s;
}

/* media */

@media screen and (max-width: 500px) {
  .form {
    flex-direction: column-reverse;
    gap: 35px;
    margin-block-end: 15px;
  }
}

/* animation */

@keyframes strobe {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};