.form {
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(47, 47, 55, 0.4);
  inline-size: min-content;
}

.controlsWraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
} 

.buttonsWraper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.inputsWraper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* submit button */
.submitButton {
  border: 2px solid rgba(81, 177, 103, 0.2);
  box-shadow: 0 0 10px rgba(81, 177, 103, 0.4), inset 0 0 2px #000;
  color: rgba(81, 177, 103, .5);
}

.submitButton:hover {
  border: 2px solid rgba(81, 177, 103, 0.5);
  box-shadow: 0 0 13px 0 rgba(81, 177, 103, 0.6);
  color: rgba(81, 177, 103, .7);
}

.submitButton:active {
  border: 2px solid rgba(81, 177, 103, 0.5);
  box-shadow: 0 0 10px 0 rgba(81, 177, 103, 0.4), inset 0 0 5px #000;
  color: rgba(81, 177, 103, .5);
}

/* reset button */
.resetButton {
  border: 2px solid rgba(188, 72, 72, 0.2);
  box-shadow: 0 0 10px 0 rgba(188, 72, 72, 0.4), inset 0 0 2px #000;
  color: rgba(188, 72, 72, 0.7);
}

.resetButton:hover {
  border: 2px solid rgba(188, 72, 72, 0.5);
  box-shadow: 0 0 13px 0 rgba(188, 72, 72, 0.6);
  color: rgba(188, 72, 72, .9);
}

.resetButton:active {
  border: 2px solid rgba(188, 72, 72, 0.5);
  box-shadow: 0 0 10px 0 rgba(188, 72, 72, 0.4), inset 0 0 5px #000;
  color: rgba(188, 72, 72, 0.6);
}

/* media */

@media screen and (max-width: 500px) {
  .form {
    flex-direction: column-reverse;
    gap: 35px;
    margin-block-end: 15px;
  }
}