.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: clamp(1.875rem, 1.1527rem + 3.0817vw, 3.125rem); /* 50px 30px */
  inline-size: 100%;
}

.title {
  margin-block-start: 30px;
  margin-block-end: clamp(1.25rem, 0.1666rem + 4.6225vw, 3.125rem); /* 50px 20px */
  padding: 0 30px;
  color: var(--input-background);
  font-size: clamp(2.5rem, 1.4166rem + 4.6225vw, 4.375rem); /* 70px 40px */
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}
