.button {
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  background-color: var(--input-background);
  transition: var(--common-transition);
  cursor: pointer;
  inline-size: clamp(6.875rem, 5.4305rem + 6.1633vw, 9.375rem);
  block-size: 50px;/* 110px 150px */
}