.modalOverlay {
  position: fixed !important;
  z-index: 1 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden ! important;
  background-color: rgba(0, 0, 0, .5) ! important;
  inline-size: 100% ! important;
  block-size: 100vh ! important;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 3px var(--main-color);
  background-color: var(--accent-background);
  inline-size: 80%;
  block-size: 80vh;
}

.closeButton {
  position: absolute;
  top: -55px;
  right: 0;
}

/* @media */

@media screen and (max-width: 430px) {
  .main {
    inline-size: 90%;
    block-size: 550px;
  }
}