.table {
  display: flex;
  flex-direction: column;
  margin-block-end: 20px;
  font-size: 20px;
  inline-size: clamp(18.75rem, 15.1387rem + 15.4083vw, 25rem); /* 300px 400px */
}

.toggleButton {
  margin: 5px 10px 15px;
  border: none;
  color: var(--interface-accent);
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}